body, html,#allMap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
html,body {
	height: 100%;
}
#allMap {
	float: left;
	width: 100%;
	height: 100%;
	color: #fff;
	border: 1px solid #fff;
}
#line,#react {
	width: 65%;
	height: 100%;
	color: #fff;
}
.anchorBL{display:none;}
#province {
	display: none;
	background-color: red;
	width: 40%;
	height: 60%;
	border: 1px solid #fff;
	margin-left: -1px;
}
#wordCloud {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #000c4d;
	width: 35%;
	height: 40%;
	border: 1px solid #fff;
	margin-top: -1px;
}
#back {
	color: #fff;
	position: fixed;
	left: 10px;
	top: 7px;
	font-size: 22px;
}
#back:hover {
	cursor:default;
}